/* Styles for customer table */
.customer {
  margin: 20px auto;
  width: 80%;
  margin-left: 250px;
}

.customer h1 {
  text-align: center;
}

.customer-table {
  text-align: center;
}

.customer-table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.customer-table th,
.customer-table td {
  padding: 10px;
  border: 1px solid #ddd;
  width: 16.66%;
}

.customer-table th {
  background-color: #03591a;
  color: white;
  font-weight: bold;
}

.customer-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.customer-table td:last-child {
  text-align: center;
}

/* Table design enhancements */
.customer-table th,
.customer-table td {
  font-size: 14px;
}